version https://git-lfs.github.com/spec/v1
oid sha256:b4c1a87f7b9b26dc3c12ba29d6439fd6ca0e9e5b2d22722b56ba3e6009cc4827
size 180
*.csv filter=lfs diff=lfs merge=lfs -text
ArtifactDB filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Library/* filter=lfs diff=lfs merge=lfs -text
